lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
npm-debug.*
*.bak

pids
*.log
results
tmp
coverage


# API keys and secrets
# .env

# Dependency directory
node_modules


# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
build/**/*